.trash-icon {
    font-size: 2rem;
    background: none;
    color:  black;
}

.subtract-icon {
    font-size: 2rem;
    background: none;
    color: fuchsia;
}

.add-icon {
    font-size: 2rem;
    background: none;
    color: fuchsia;
}